{{define "yield"}}
<div class="col-lg-12">
   <div class="card alert">
       <div class="card-header m-b-10">
         <!-- Contents -->
       </div>
       <div class="card-body">
          <!-- Contents -->
       </div>
   </div>
   <!-- /# card -->
</div>
<!-- /# column -->
{{end}}

{{define "style-css"}}
{{end}}

{{define "script-js"}}
{{end}}